<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
  <head>
    <title th:text="#{email.noteChangedEvent.title}">JHipster creation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
  </head>
  <body>
    <p th:text="#{email.noteChangedEvent.greeting(${user.login})}">Dear</p>
    <p
      th:text="#{email.noteChangedEvent.text1(${processInstance.getProcessDefinition().getName()},${processInstance.getProcessDefinition().getName()}, ${processInstance.getBusinessKey()})}"
    ></p>
    <p>
      <span th:text="#{email.noteChangedEvent.text2}">Regards, </span>
      <br />
      <em th:text="#{email.noteChangedEvent.signature}">JHipster.</em>
    </p>
  </body>
</html>
