<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
  <head>
    <title th:text="#{akip.email.notifyNewTaskToCandidateGroupsEmail.title}">New task to you in the KIP4You Platform</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
  </head>
  <body>
    <p th:text="#{akip.email.notifyNewTaskToCandidateGroupsEmail.greeting(${user.firstName})}">Dear</p>
    <p
      th:utext="#{akip.email.notifyNewTaskToCandidateGroupsEmail.text1('<strong>' + ${delegateTask.name} + '</strong>', '<strong>' + ${delegateTask.processInstance.businessKey} + '</strong>')}"
    >
      You have a new task
    </p>
    <p th:text="#{akip.email.notifyNewTaskToCandidateGroupsEmail.text2}">You can complete the task in the link below:</p>

    <p>
      <a th:with="url=(@{|${baseUrl}/my-candidate-tasks|})" th:href="${url}" th:text="#{akip.email.notifyNewTaskToCandidateGroupsEmail.myTasks}"
        >My Tasks</a
      >
    </p>
    <p>
      <span th:text="#{akip.email.notifyNewTaskToCandidateGroupsEmail.regards}">Regards, </span>
      <br />
      <em th:text="#{akip.email.signature}">JHipster.</em>
    </p>
  </body>
</html>
